root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.cmd]
end_of_line = crlf

[*.{yml,yaml}]
indent_size = 2

[*.md]
# Два пробіли в кінці рядка в Markdown означають перенесення.
trim_trailing_whitespace = false

[*.csv]
# У data/input.csv є навмисний рядок із пробілів.
trim_trailing_whitespace = false
