target/
dependency-reduced-pom.xml
pom.xml.versionsBackup

.mvn/wrapper/maven-wrapper.jar

out/

*.class
*.log
hs_err_pid*

.idea/
*.iml
.vscode/
.classpath
.project
.settings/

.DS_Store
Thumbs.db
desktop.ini

LAB_01.pdf
